<% include ./head %>

<div class='category'>
    <a href='/categories?category=category1&photo=1' class='image'><img src='photos/photo1.jpg'></a>
    <a href='/categories?category=category1&photo=1' class='title'>Category 1</a>
</div>
<div class='category'>
    <a href='/categories?category=category2&photo=1' class='image'><img src='photos/photo2.jpg'></a>
    <a href='/categories?category=category2&photo=1' class='title'>Category 2</a>
</div>
<div class='category'>
    <a href='/categories?category=category3&photo=1' class='image'><img src='photos/photo3.jpg'></a>
    <a href='/categories?category=category3&photo=1' class='title'>Category 3</a>
</div>

<% include ./foot %>