<!doctype html>
<html>
    <head>
        <title>Hot or Not</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href='style.css' type='text/css' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <a class='logo' href='/'>Hot or Not</a>
            <a class='about' href='/about'>About</a>
            <a class='contact' href='/contact'>Contact</a>
        </nav>

        <% if (login === 'true') { %>
        <div class='account'>
            <p>Welcome, <%= email %></p>
            <a href='/logout' class='logout'>Log Out</a>
            <a href='/create' class='create'>Create Vote</a>
        </div>
        <% } %>


