<% include ./head %>

<div class='register'>
    <form action='/categories', method='post'>
        <input type='email' id='email' placeholder=".Your Email Address:" name='email' required>
        <input type='submit' value="Let's Go" class='submit'>
    </form>
</div>

<% include ./foot %>